{% extends 'base.html' %}
{% block conteudo %}
  <form action="/excluir" method="POST">
      <label>CPF: </label>
      <input type="text" name="cpfExcluir" id="cpfExcluir"/><br><br>
    <!-- Button trigger modal -->
  <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
   EXCLUIR
  </button>

    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">EXCLUIDO COM SUCESSO</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">ok</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</body>
</html>

{% endblock %}
